.forma_control{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;   
}
.forma_control label{
    margin-bottom: .3em;
    font-weight: bold;
    font-size: .8em;
}
.forma_control input{
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
}
.forma_control input::placeholder{
    color: #7b7b7b;
}
